<section class="msger">
    <link rel="stylesheet" href="css/chatbot.css">
    <header class="msger-header">
        <div class="msger-header-title">
            <strong>eYantra IOT</strong>
        </div>
    </header>
    <main class="msger-chat">
        <div class="msg left-msg">
            <div class="msg-img" style="background-image: url(eYantra_logo.png)"></div>
            <div class="msg-bubble">
                <div class="msg-info">
                    <div class="msg-info-name">eYantra IOT</div>
                    <div class="msg-info-time"></div>
                </div>
                <div class="msg-text">
                    Welcome to eYantra IOT!
                </div>
            </div>
        </div>
    </main>
    <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
    </form>
    <script  src="js/chatbot.js"></script>
</section>
